.home {
  padding: 5rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9f;
  color: #181219;
  outline: #000 1px solid;
  border: 3px solid #fff;
}

.homeParent {
  margin: auto;
  max-width: 900px;
}

.rowFixes {
  margin: 0;
}
